<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysUserDao">

    <select id="findObjectById" resultMap="sysUserDeptVo">
        select *
        from sys_users
        where id = #{id}
    </select>


    <sql id="queryWhereId">
        from sys_users
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>

    <!-- resultMap用于实现高级映射 -->
    <resultMap id="sysUserDeptVo"
               type="com.cy.pj.sys.vo.SysUserDeptVo">
        <!-- 基于用户id再次查询用户对应的部门信息
        association 用于多表关联查询或嵌套查询的many2one映射。
         -->
        <association property="sysDept"
                     column="deptId"
                     select="com.cy.pj.sys.dao.SysDeptDao.findById">
        </association>
    </resultMap>

    <select id="findPageObjects"
            resultMap="sysUserDeptVo">
        select *
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getRowCount" resultType="long">
        select count(*)
        <include refid="queryWhereId"/>
    </select>


    <insert id="insertObject"
            parameterType="com.cy.pj.sys.entity.SysUser" keyProperty="id"
            useGeneratedKeys="true">
        insert into sys_users
        (username, password, deptId, email, mobile, salt, valid, createdTime, modifiedTime, createdUser, modifiedUser)
        values (#{username}, #{password}, #{deptId}, #{email}, #{mobile}, #{salt}, #{valid}
            now(), now(), #{createdUser}, #{modifiedUser})


    </insert>
    <update id="updateObject"
            parameterType="com.cy.pj.sys.entity.SysUser">update sys_users
                                                         set username=#{username},
                                                             mobile=#{ mobile},
                                                             email=#{email},
                                                             deptId=#{deptId},
                                                             modifiedTime=now(),
                                                             modifiedUser=#{modifiedUser}where id=#{id}
    </update>


</mapper>