<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>活动页面</title>
</head>
<body>
<h1>The Activity Page</h1>
<button onclick="javascript:location.href='http://localhost:8080//activity/activity_edit'">创建活动</button>
<div>
    <table>
        <thead>
        <th>ID</th>
        <th>title</th>
        <th>category</th>
        <th>startTime</th>
        <th>endTime</th>
        <th>state</th>
        </thead>
        <tbody>
        <tr th:each="a:${list}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.title}"></td>
            <td th:text="${a.category}"></td>
            <td th:text="${#temporals .format(a.startTime,'yyyy/MM/dd HH:mm:ss') }"></td>
            <td th:text="${#temporals .format(a.endTime,'yyyy/MM/dd HH:mm:ss') }"></td>
            <td th:text="${a.state==1?'进行中':'已结束'}"></td>

        </tr>


        </tbody>
    </table>


</div>
</body>
</html>