<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 将EmpService接口的子类声明到spring容器中，让spring容器创建该类的实例
                class="全限定名"(通过反射创建对象) 而id可以随便起,但是必须是唯一的-->
    <bean id="empService" class="com.tedu.service.EmpServiceImpl"></bean>

    <!-- 将EmpDao接口的实现类的实例交给spring创建 -->
    <bean id="empDao" class="com.tedu.dao.EmpDaoImpl"></bean>

    <!--将User类声明到spring容器中,由spring容器负责创建对象-->
    <bean id="user1" class="com.tedu.pojo.User"></bean>

    <!--
    scope属性,值默认为singleton,表示通过spring获取当前类的实例是单实例的
    如果将值改为prototype,则表示通过spring获取当前类的实例是多实例的
    -->

    <!--将User类声明到spring容器中,由spring容器负责创建对象-->
    <bean id="user2" class="com.tedu.pojo.User" scope="prototype"></bean>
    <!--将UserInfo类声明到spring容器中,由spring容器负责创建对象-->
    <bean id="userInfo" class="com.tedu.pojo.UserInfo"></bean>

    <!--将User类声明到spring容器中,由spring容器负责创建对象-->
    <bean id="user3" class="com.tedu.pojo.User">
        <!--通过set方法为user对象的属性赋值
        name="name" value="韩少云"==>setName("韩少云");
        name="age" value="30"==>setAge(30);
        ref="一个对象"
        name="info " ref="userInfo"==>setInfo(UserInfo info);
        -->
        <property name="name" value="韩少云"></property>
        <property name="age" value="30"></property>
        <property name="info" ref="userInfo"></property>
    </bean>

    <!--将User类声明到spring容器中,由spring容器负责创建对象-->
    <bean id="user4" class="com.tedu.pojo.User">
        <!--通过构造器为user对象的属性赋值
        name指定的值和User类中有参构造函数上的形参的名字保持一致!!
      -->
        <constructor-arg name="name" value="马云"></constructor-arg>
        <constructor-arg name="age" value="35"></constructor-arg>
        <constructor-arg name="info" ref="userInfo"></constructor-arg>
    </bean>
</beans>