<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmpMapper">
    <!--插入和修改不需要使用 from,查询和删除需要使用 from-->
    <select id="findAll" resultType="com.tedu.pojo.Emp">
        select *
        from emp;
    </select>
    <update id="insert">
        insert into emp
        values (null, "刘德华", "歌手", 8888);
    </update>
    <update id="update">
        update emp
        set job="程序员",
            salary=88888
        where name = "刘德华";

    </update>
    <update id="delete">
        delete from
        emp
        where
       name ="刘德华";
    </update>

</mapper>
